<!doctype html>
<html lang="en" id="ng-app" ng-app="bibliotecaTelmex" ng-controller="UserCtrl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Biblioteca Digital Telmex</title>
	<link rel="stylesheet" href="/assets/css/style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <!--[if IE]>
        <script src="/assets/js/modernizr.js"></script>
        </script>
        <script src="/assets/js/jquery.backgroundSize.js"></script>
        </script>
        <script src="/assets/js/placeholders.js"></script>
        </script>
        <script src="/assets/js/prefixfree.min.js"></script>
        </script>
    <![endif]-->
    <script src="/assets/js/angular.min.js"></script>
    <script src="/assets/js/angular-resource.js"></script>
    <script src="/assets/js/angular/app.js"></script>
    <script src="/assets/js/angular/controllers/UserCtrl.js"></script>
    <script src="/assets/js/angular/services/User.js"></script>


</head>
<body class="">


    <div id="lightbox" class="activo">
        <div id="adminAlta">
		<div class="tituloLight">
			<span>HABILITAR ADMINISTRADORES</span>
			<div class="cerrar" ng-click="cerrarLightbox();">X</div>
		</div>
		<form action="#">
			<input type="search" placeholder="Escribe el usuario a buscar">
		</form>

		<hr>

		<div id="resultadosusuarios">
			<ul>
				<li>
					<img src="" alt=""><span class="nombre">Nombre Usuario</span>
					<span class="categoria">Admin</span>
					<span class="check"><input type="checkbox"></span>

				</li>
				<li>
					<img src="" alt=""><span class="nombre">Nombre Usuario</span>
					<span class="categoria">Admin</span>
					<span class="check"><input type="checkbox"></span>

				</li>
				<li>
					<img src="" alt=""><span class="nombre">Nombre Usuario</span>
					<span class="categoria">Admin</span>
					<span class="check"><input type="checkbox"></span>

				</li>
				<li>
					<img src="" alt=""><span class="nombre">Nombre Usuario</span>
					<span class="categoria">Admin</span>
					<span class="check"><input type="checkbox"></span>

				</li>
				<li>
					<img src="" alt=""><span class="nombre">Nombre Usuario</span>
					<span class="categoria">Admin</span>
					<span class="check"><input type="checkbox"></span>

				</li>
				<li>
					<img src="" alt=""><span class="nombre">Nombre Usuario</span>
					<span class="categoria">Admin</span>
					<span class="check"><input type="checkbox"></span>

				</li>
			</ul>
		</div>
		</div><!-- Fin del adminAlta -->
    </div>
</body>
</html>