<!doctype html>
<html lang="en" ng-app="bibliotecaTelmex" ng-controller="DashBoardCtrl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Biblioteca Digital Telmex</title>
	<link rel="stylesheet" href="/assets/css/style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <!--[if IE]>
        <script src="/assets/js/modernizr.js"></script>
        </script>
        <script src="/assets/js/jquery.backgroundSize.js"></script>
        </script>
        <script src="/assets/js/placeholders.js"></script>
        </script>
        <script src="/assets/js/prefixfree.min.js"></script>
        </script>
    <![endif]-->
    <script src="/assets/js/angular.min.js"></script>
    <script src="/assets/js/angular-resource.js"></script>
    <script src="/assets/js/angular/app.js"></script>
	<script src="/assets/js/angular/controllers/DashBoardCtrl.js"></script>
    <script src="/assets/js/angular/services/Categoria.js"></script>
    <script src="/assets/js/angular/services/Producto.js"></script>
    <script src="/assets/js/angular/services/Archivo.js"></script>
    <script src="/assets/js/angular/services/User.js"></script>
</head>
<body ng-init="init()">
	<header>
		<div class="container">
			<h1><span class="ocultar">Telmex Biblioteca Digital</span><img src="/assets/img/logo2.png" alt=""></h1>
			<div class="buscador">
				<form ng-submit="buscar(search)">
					<input type="search" ng-model="search.name" placeholder="Buscar Documentos">
				</form>
			</div>
			<span class="login">
                <a ng-click="openLightbox('admin')"><img src="/assets/img/cuentas.png" ></a>
                {{username}}
                <a href="/logout">Salir</a>
			</span>
		</div>
	</header>
	<section id="contenidos">
		<div class="container">
			<article id="Categoria" class="activo">
				<span class="crear categoria icono"><img src="/assets/img/crear.png" alt="" ng-click="openLightbox('categorias')"></span>
				<h2>Categorías</h2>
				<ul id="col-1">
					<li ng-repeat="c in categorias | orderBy:'name'" ng-click="openProductos(c)">
						<figure></figure>
						<span>{[{c.name}]}</span>
						<span class="eliminar">X</span>
					</li>
				</ul>
			</article>
			<article id="Productos" class="activo" ng-show="view_productos">
				<span class="crear producto icono"><img src="/assets/img/crear.png" alt="" ng-click="openLightbox('productos')"></span>
				<h2>Producto</h2>
				<ul id="col-2">
                    <li ng-repeat="p in productos | filter:p.categoria=current_cat.name" ng-click="openArchivos(p)">
                    <span>{[{p.name}]}</span>
                    <span class="eliminar">X</span>
                    </li>
				</ul>
			</article>
			<article id="Documentos" class="activo" ng-show="view_archivos">
				<span class="subir icono"><img src="/assets/img/subir.png" alt="" ng-click="openLightbox('archivos')"></span>
				<h2>Documentos</h2>
				<ul id="col-3">
                    <li ng-repeat="a in archivos | filter:{categoria:current_cat.name,producto:current_prod.name}" ng-click="seleccionDocumento(a)">
                    <span>{[{a.name}]}</span> 
                    <figure style="background-color: #0092D2;" />
                    <span class="eliminar">X</span>
                    </li>
				</ul>
			</article>
		</div>
	</section>
	
	<div id="lightbox" class="activo" ng-show="lightboxes['archivos']">
		<div class="fondoClicable" ng-click="closeLightbox('archivos')"></div>

		<div id="subidaLightbox">
			<div class="tituloLight">
				<figure></figure>
				<span>ARCHIVOS</span>
				<div class="cerrar" ng-click="closeLightbox('archivos')">X</div>
			</div>
			<div class="titulo">SUBIR ARCHIVO</div>
			<hr>

                <!--<form name="form-a" ng-submit="addArchivo(doc, '{{url}}')" method="POST" enctype="multipart/form-data">
                    Categoria:  &lt;!&ndash;<select name="categoria" ng-model="categoria" >
                        <option value="{[{c.name}]}" ng-repeat="c in categorias" ng-model="categoria">{[{c.name}]}</option>
				    </select><br/>&ndash;&gt; <input type="text" name="categoria" value="{[{current_cat.name}]}" ng-model="doc.categoria"/><br/>
                    <hr/>
                    Producto:  &lt;!&ndash;<select name="producto" ng-model="producto">
                        <option value="{[{p.name}]}" ng-repeat="p in productos | filter:{categoria:categoria}">{[{p.name}]}</option>
                    </select><br/>&ndash;&gt; <input type="text" name="producto" value="{[{current_prod.name}]}" /><br/>
                    <hr/>
                    <input type="file" name="file"><br>
                    <hr/>
                    <input type="submit" name="submit" value="Guardar">
                </form>-->

                <form name="formD" ng-submit="upload('{{url}}')" enctype="multipart/form-data">
                    <span ng-show="loading">Loading, please wait</span>
                    <input type="file" onchange="angular.element(this).scope().filesChanged(this)" multiple required/>
                    <input type="submit" ng-disabled="loading" value="Subir"/>
                </form>
			<hr>

			<span href="#" class="mensajeArchivos">
				<span class="msg1">
					<h4>ARRASTRAR Ó BUSCAR ARCHIVOS</h4>
					<span>*Archivos .doc,.ppt o .pdf <br>máximo 5mb</span>
				</span>
				<span class="msg2">
					<h3>SUBIENDO ARCHIVOS</h3>
				</span>
				<span class="msg3">
					<ul>
						<li>CV AA MARTINEZ.pdf <span class="cerrar">x</span></li>
						<li>CV AA MARTINEZ.pdf <span class="cerrar">x</span></li>
					</ul>
					<a href="" class="guardarbtn">GUARDAR</a>
					<a href="" class="cerrarbtn">CERRAR</a>
				</span>
			</span>
	    </div>
	</div><!-- Fin del subidaLightbox -->

    <div id="lightbox" class="activo" ng-show="lightboxes['categorias']">
        <div class="fondoClicable" ng-click="closeLightbox('categorias')"></div>
		<div id="CategoriaLightbox" >
			<div class="tituloLight">
				<figure></figure>
				<span>CATEGORIA</span>
				<div class="cerrar" ng-click="closeLightbox('categorias')">X</div>
			</div>

			<span href="#" class="mensajeArchivos">
				<span class="msg1">
					<form ng-submit="addCategoria(categoria)">
						<input type="text" placeholder="Nombre de la categoría" ng-model="categoria.name">
						<hr>
						<input type="submit" class="guardarbtn"></a>
					</form>
				</span>
			</span>
	    </div>
    </div><!-- Fin del CategoriaLightbox -->

    <div id="lightbox" class="activo" ng-show="lightboxes['productos']">
        <div class="fondoClicable" ng-click="closeLightbox('productos')"></div>
		<div id="ProductoLightbox">
			<div class="tituloLight">
				<figure></figure>
				<span>PRODUCTO</span>
				<div class="cerrar" ng-click="closeLightbox('productos')">X</div>
			</div>
			<span href="#" class="mensajeArchivos">
				<span class="msg1">
					<form ng-submit="addProducto(producto)">
						<input type="text" placeholder="Nombre del producto" ng-model="producto.name">
						<!--<select ng-model="producto.categoria" ng-options="c as c.name for c in categorias | orderBy:'name'">
                            <option value="{[{current_cat.name}]}">-- Escoge una categoria --</option>
						</select>
                        <input disabled type="text" name="category" ng-model="producto.categoria.name" value="{[{current_cat.name}]}" disabled>-->
						<hr>
						<input type="submit" class="guardarbtn"></a>
						<div class="cerrarbtn" ng-click="closeLightbox('productos')" style="cursor: pointer;">CERRAR</div>
					</form>
				</span>
			</span>
        </div>
    </div><!-- Fin del ProductoLightbox -->


    <div id="lightbox" class="activo" ng-show="lightboxes['busquedas']">
        <div class="fondoClicable" ng-click="closeLightbox('busquedas')"></div>
		<div id="busquedaResultados">
			<h2><img src="/assets/img/buscar.jpg" width="15">Resultados de busqueda</h2>
			<hr>
			<h3>{[{find.name}]}</h3>
			<ul>
                <div ng-repeat="a in archivos | searchfilter:search.name">
                    <a href="/serve/{[{a.file}]}"><li >
                        <figure></figure>
                        <img src="" alt=""><span class="nombre">{[{a.name}]}</span>
                        <span class="categoria">{[{a.categoria}]}</span>
                        <span class="icono"></span>
                    </li></a>
                </div>
            </ul>
		</div>
	</div>

    <div id="lightbox" class="activo" ng-show="lightboxes['admin']">
        <div class="fondoClicable" ng-click="closeLightbox('admin')"></div>
        <div id="adminAlta">
		<div class="tituloLight">
			<span>HABILITAR ADMINISTRADORES</span>
			<div class="cerrar" ng-click="closeLightbox('admin')">X</div>
		</div>
		<form>
			<input type="search" ng-model="search.user" placeholder="Escribe el usuario a buscar">
		</form>

		<hr>

		<div id="resultadosusuarios">
			<ul>
                <div ng-repeat="u in users | searchfilteruser:search.user">
                    <li>
                        <img src="" alt=""><span class="nombre">{[{u.username}]} <{[{u.email}]}></span>
                        <span class="categoria">{[{u.rol}]}</span>
                        <span class="check"><input type="checkbox" ng-checked="u.rol=='admin'" ng-model="check.Admin" ng-click="cambiarAdmin($event, u)"></span>
                    </li>
                </div>
			</ul>
		</div>
		<hr>
		</div><!-- Fin del adminAlta -->
    </div>

    <div id="lightbox" class="activo" ng-show="lightboxes['archivo']">
		<div class="fondoClicable" ng-click="closeLightbox('archivo')"></div>
		<div id="contenidoLightbox">
			<div class="tituloLight">
				<figure></figure>
				<span>COMUNICACIONES ADMINISTRADAS</span>
				<div class="cerrar" ng-click="closeLightbox('archivo')">X</div>
			</div>
			<div class="titulo">{[{current_file.name}]}</div>
			<hr>
			<dl>
				<dt>Formato: </dt>
				<dd>{[{current_file.type.split('/')[1]}]}</dd>
				<dt>Tamaño: </dt>
				<dd>{[{current_file.size}]}</dd>
				<dt>Fecha:</dt>
				<dd>{[{current_file.fecha}]}</dd>
			</dl>
			<hr>

			<a href="#" class="descargar">
				<figure>
                    <a href="/serve/{[{current_file.file}]}"><img src="/assets/img/descargarbig.jpg" alt=""></a>
					<figcaption>
						DESCARGAR ARCHIVO
					</figcaption>
				</figure>
			</a>
	    </div>
	</div><!-- Fin del contenido Lightbox -->

    <div id="lightbox" class="activo" ng-show="lightboxes['downloads']">
		<div class="fondoClicable" ng-click="closeLightbox('downloads');"></div>
		<div id="contenidoLightbox">
			<div class="tituloLight">
				<figure></figure>
				<span>COMUNICACIONES ADMINISTRADAS</span>
				<div class="cerrar" ng-click="closeLightbox('downloads');">X</div>
			</div>
			<div class="titulo">{[{current_file.name}]}</div>
			<hr>
			<dl>
				<dt>Formato: </dt>
				<dd>{[{current_file.type.split('/')[1]}]}</dd>
				<dt>Tamaño: </dt>
				<dd>{[{current_file.size}]}</dd>
				<dt>Fecha:</dt>
				<dd>{[{current_file.fecha}]}</dd>
			</dl>
			<hr>

			<a href="#" class="descargar">
				<figure>
                    <a href="/serve/{[{current_file.file}]}"><img src="/assets/img/descargarbig.jpg" alt=""></a>
					<figcaption>
						DESCARGAR ARCHIVO
					</figcaption>
				</figure>
			</a>
	    </div>
	</div>

	<footer class="panel"></footer>
</body>
</html>