<!doctype html>
<html lang="en" ng-app="bibliotecaTelmex" ng-controller="UserCtrl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Biblioteca Digital Telmex</title>
	<link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/angular.min.js"></script>
    <script src="/assets/js/angular-resource.js"></script>
    <script src="/assets/js/angular/controllers/UserCtrl.js"></script>
    <script src="/assets/js/angular/services/User.js"></script>


</head>
<body class="principal">
    <section id="login">
        <h2>BIENVENIDO</h2>
        <figure>
            <img src="/assets/img/TelmexLogo.png" alt="Telmex">
        </figure>
        <h1><span class="ocultar">Biblioteca Digital</span> <img src="/assets/img/logos.png" alt="Biblioteca Digital"></h1>
        <form ng-submit="varificar()">
            <input type="text" placeholder="Correo electrónico" ng-model="email">
            <input type="submit" class="btn" value="Recuperar contraseña">
        </form>
        <p class="ocultar">Su contraseña se ha enviado al correo electrónico con el que se registró.</p>
        <a href="/login">INICIAR SESIÓN</a>
    </section>
</body>
</html>