<!doctype html>
<html lang="en" ng-app="bibliotecaTelmex" ng-controller="CategoriasCtrl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Biblioteca Digital Telmex</title>
	<link rel="stylesheet" href="/assets/css/style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <!--[if IE]>
        <script src="/assets/js/modernizr.js"></script>
        </script>
        <script src="/assets/js/jquery.backgroundSize.js"></script>
        </script>
        <script src="/assets/js/placeholders.js"></script>
        </script>
        <script src="/assets/js/prefixfree.min.js"></script>
        </script>
    <![endif]-->
    <script src="/assets/js/angular.min.js"></script>
    <script src="/assets/js/angular-resource.js"></script>
	<script src="/assets/js/angular/app.js"></script>
    <script src="/assets/js/angular/controllers/CategoriasCtrl.js"></script>
    <script src="/assets/js/angular/services/Categoria.js"></script>
    <script src="/assets/js/angular/services/Producto.js"></script>
    <script src="/assets/js/angular/services/Archivo.js"></script>
</head>
<body ng-init="init()">
	<header ng-class="sinBlur">
		<div class="container">
			<h1><span class="ocultar">Telmex Biblioteca Digital</span><img src="/assets/img/logo2.png" alt=""></h1>
			<div class="buscador" ng-click="openLightbox('busquedas')">
				<form ng-submit="buscar(search)">
					<input type="search" ng-model="search.name" placeholder="Buscar Documentos">
				</form>
			</div>
			<span class="login">
                <a href="index.html"><img src="/assets/img/cuentas.png" alt=""></a>
                {{username}}
                <a href="/logout">Salir</a>
			</span>
		</div>
	</header>
	<section id="contenidos" ng-class="sinBlur">
		<div class="container" ng-init="init()">
			<article id="Categoria" class="activo">
				<!-- <span class="crear icono"><img src="img/crear.png" alt=""></span> -->
				<h2>Categoría</h2>
				<ul id="col-1">
					<li ng-repeat="cat in categorias" ng-click="seleccionCategoria(cat.name)">
						<figure></figure>
						<span>{[{cat.name}]}</span>
					</li>
				</ul>
			</article>

			<article id="Productos" class="activo" ng-hide="productoListado == true">
				<!-- <span class="crear icono"><img src="img/crear.png" alt=""></span> -->
				<h2>Producto</h2>
				<ul id="col-2">
					<li ng-repeat="prod in productos | filter:prod.categoria=idCategoria:strict" ng-click="seleccionProducto(prod.categoria,prod.name)">
						{[{prod.name}]}
					</li>
				</ul>
			</article>

			<article id="Documentos" class="activo" ng-hide="documentosListado == true">
				<!-- <span class="crear icono"><img src="img/crear.png" alt=""></span>
				<span class="subir icono"><img src="img/subir.png" alt=""></span> -->
				<h2>Documentos</h2>
				<ul id="col-3">
					<li ng-repeat="doc in documentos | filter:{categoria:strCat,producto:strProd}" ng-click="seleccionDocumento(doc)">
						<span>{[{doc.name}]}</span>
						<figure style="background-color: #0092D2;">
						</figure>
					</li>
				</ul>
			</article>
		</div>
	</section>

	<div id="lightbox" class="activo" ng-show="Lightbox == true">
		<div class="fondoClicable" ng-click="cerrarLightbox();"></div>
		<div id="contenidoLightbox">
			<div class="tituloLight">
				<figure></figure>
				<span>COMUNICACIONES ADMINISTRADAS</span>
				<div class="cerrar" ng-click="cerrarLightbox();">X</div>
			</div>
			<div class="titulo">{[{current_file.name}]}</div>
			<hr>
			<dl>
				<dt>Formato: </dt>
				<dd>{[{current_file.type.split('/')[1]}]}</dd>
				<dt>Tamaño: </dt>
				<dd>{[{current_file.size}]}</dd>
				<dt>Fecha:</dt>
				<dd>{[{current_file.fecha}]}</dd>
			</dl>
			<hr>

			<a href="#" class="descargar">
				<figure>
                    <a href="/serve/{[{current_file.file}]}"><img src="/assets/img/descargarbig.jpg" alt=""></a>
					<figcaption>
						DESCARGAR ARCHIVO
					</figcaption>
				</figure>
			</a>
	    </div>
	</div><!-- Fin del contenido Lightbox -->

    <div id="lightbox" class="activo" ng-show="busquedas">
        <div class="fondoClicable" ng-click="closeSearch()"></div>
		<div id="busquedaResultados">
			<h2><img src="/assets/img/buscar.jpg" width="15">Resultados de busqueda</h2>
			<hr>
			<h3>{[{find.name}]}</h3>
			<ul>
                <div ng-repeat="a in documentos | searchfilter:search.name">
                    <a href="/serve/{[{a.file}]}"><li >
                        <figure></figure>
                        <img src="" alt=""><span class="nombre">{[{a.name}]}</span>
                        <span class="categoria">{[{a.categoria}]}</span>
                        <span class="icono"></span>
                    </li></a>
                </div>
			</ul>
		</div>
	</div>
</body>
</html>