<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Biblioteca Digital Telmex</title>
	<link rel="stylesheet" href="/assets/css/style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <!--[if IE]>
        <script src="/assets/js/modernizr.js"></script>
        </script>
        <script src="/assets/js/jquery.backgroundSize.js"></script>
        </script>
        <script src="/assets/js/placeholders.js"></script>
        </script>
        <script src="/assets/js/prefixfree.min.js"></script>
        </script>
    <![endif]-->
    <script src="/assets/js/angular.min.js"></script>
    <script src="/assets/js/angular-resource.js"></script>
    <script src="/assets/js/angular/app.js"></script>
    <script src="/assets/js/angular/controllers/LandingCtrl.js"></script>
    <script src="/assets/js/angular/controllers/UserCtrl.js"></script>
    <script src="/assets/js/angular/controllers/SessionsCtrl.js"></script>
    <script src="/assets/js/angular/services/Session.js"></script>
    <script src="/assets/js/angular/services/User.js"></script>

</head>
<body  id="ng-app" ng-app="bibliotecaTelmex" ng-controller="LandingCtrl">
<header class="landing"></header>
	<div class="container">
		<div class="colIzq">
			<section id="login" class="acceso">
				<h2>BIENVENIDO</h2>
				<figure>
					<img src="/assets/img/TelmexLogo.png" alt="Telmex">
				</figure>
				<h1><span class="ocultar">Biblioteca Digital</span> <img src="/assets/img/logos.png" alt="Biblioteca Digital"></h1>
				<div ng-click="lightbox('signup')" style="cursor: pointer;" class="btn">REGISTRO</div>
				<div ng-click="lightbox('login')" style="cursor:pointer;" class="btn">INICIAR SESIÓN</div>
                <span ng-click="lightbox('forgot')" style="cursor: pointer;">¿OLVIDASTE TU NOMBRE DE USUARIO O CONTRASEÑA?</span>
			</section>
		</div>
		<div class="colDer">
            <article ng-repeat="a in [1,2,3, 4]" class="itemLanding">
				<figure><img src="" alt=""></figure>
				<h3>documento</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit placeat doloribus asperiores odio magnam nemo porro fugit, sapiente adipisci nulla, unde tenetur, culpa iste cupiditate sit provident pariatur nobis, reiciendis.</p>
				<hr>
				<dl>
					<dt>Tamaño:</dt>
					<dd>2 mb</dd>
					<dt>Fecha:</dt>
					<dd> 13/07/14</dd>
					<hr>
					<dt>Formato:</dt>
					<dd><figure><img src="" alt=""></figure></dd>
				</dl>
			</article>
			<!--<article class="itemLanding">
				<figure><img src="" alt=""></figure>
				<h3>documento</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit placeat doloribus asperiores odio magnam nemo porro fugit, sapiente adipisci nulla, unde tenetur, culpa iste cupiditate sit provident pariatur nobis, reiciendis.</p>
				<hr>
				<dl>
					<dt>Tamaño:</dt>
					<dd>2 mb</dd>
					<dt>Fecha:</dt>
					<dd> 13/07/14</dd>
					<hr>
					<dt>Formato:</dt>
					<dd><figure><img src="" alt=""></figure></dd>
				</dl>
			</article>
			<article class="itemLanding">
				<figure><img src="" alt=""></figure>
				<h3>documento</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit placeat doloribus asperiores odio magnam nemo porro fugit, sapiente adipisci nulla, unde tenetur, culpa iste cupiditate sit provident pariatur nobis, reiciendis.</p>
				<hr>
				<dl>
					<dt>Tamaño:</dt>
					<dd>2 mb</dd>
					<dt>Fecha:</dt>
					<dd> 13/07/14</dd>
					<hr>
					<dt>Formato:</dt>
					<dd><figure><img src="" alt=""></figure></dd>
				</dl>
			</article>
			<article class="itemLanding">
				<figure><img src="" alt=""></figure>
				<h3>documento</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit placeat doloribus asperiores odio magnam nemo porro fugit, sapiente adipisci nulla, unde tenetur, culpa iste cupiditate sit provident pariatur nobis, reiciendis.</p>
				<hr>
				<dl>
					<dt>Tamaño:</dt>
					<dd>2 mb</dd>
					<dt>Fecha:</dt>
					<dd> 13/07/14</dd>
					<hr>
					<dt>Formato:</dt>
					<dd><figure><img src="" alt=""></figure></dd>
				</dl>
			</article>
			<article class="itemLanding">
				<figure><img src="" alt=""></figure>
				<h3>documento</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit placeat doloribus asperiores odio magnam nemo porro fugit, sapiente adipisci nulla, unde tenetur, culpa iste cupiditate sit provident pariatur nobis, reiciendis.</p>
				<hr>
				<dl>
					<dt>Tamaño:</dt>
					<dd>2 mb</dd>
					<dt>Fecha:</dt>
					<dd> 13/07/14</dd>
					<hr>
					<dt>Formato:</dt>
					<dd><figure><img src="" alt=""></figure></dd>
				</dl>
			</article>-->
		</div>

	</div>
	<footer class="landing"></footer>

    <div id="lightbox" class="activo" ng-show="login" ng-controller="SessionsCtrl">
        <div class="fondoClicable" ng-click="lightbox('login')"></div>
		<div id="ProductoLightbox">
			<div class="tituloLight">
				<figure></figure>
				<span>INICIAR SESION</span>
				<div class="cerrar" ng-click="lightbox('login')">X</div>
			</div>
			<span href="#" class="mensajeArchivos">
				<span class="msg1">
                    <span class="error" ng-show="error">{[{error_message}]}</span><br>
					<form ng-submit="acceder(user)">
                        <input type="text" placeholder="Usuario" ng-model="user.username">
                        <input type="password" placeholder="Contraseña" ng-model="user.password">
                        <input type="submit" class="btn" value="INICIAR SESIÓN">
                    </form>
				</span>
			</span>
        </div>
    </div>

    <div id="lightbox" class="activo" ng-show="signup" ng-controller="UserCtrl">
        <div class="fondoClicable" ng-click="lightbox('signup')"></div>
		<div id="ProductoLightbox">
			<div class="tituloLight">
				<figure></figure>
				<span>REGISTRO</span>
				<div class="cerrar" ng-click="lightbox('signup')">X</div>
			</div>
			<span href="#" class="mensajeArchivos">
				<span class="msg1">
                    <span class="error" ng-show="error">{[{error_message}]}</span><br>
					<form name="form" ng-submit="nuevo(user)" novalidate>
                        <input type="text" placeholder="Nombre y apellidos" ng-model="user.name" required>
                        <input type="text" placeholder="Nombre de usuario" ng-model="user.username" required>
                        <input type="email" name="email" placeholder="Correo electrónico" ng-model="user.email" required>
                        <span ng-show="form.email.$error.email">No es un correo valido</span>
                        <input type="password" name="password" placeholder="Contraseña" ng-model="user.password" required>
                        <input type="password" name="confirm_password" placeholder="Repetir contraseña" ng-model="user.password_verify" required data-password-verify="user.password">
                        <div ng-show="form.confirm_password.$error.passwordVerify">
                            Las contraseñas no son iguales</div>
                        <input type="submit" class="btn" value="REGISTRARME" ng-disabled="form.$invalid || isUnchanged(user)">
                        <div ng-show="error"><span class="error">{[{error_message}]}</span></div>

                    </form>
				</span>
			</span>
        </div>
    </div>

    <div id="lightbox" class="activo" ng-show="forgot">
        <div class="fondoClicable" ng-click="lightbox('forgot')"></div>
		<div id="ProductoLightbox">
			<div class="tituloLight">
				<figure></figure>
				<span>RECUPERAR DATOS</span>
				<div class="cerrar" ng-click="lightbox('forgot')">X</div>
			</div>
			<span href="#" class="mensajeArchivos">
				<span class="msg1">
                    <span class="error" ng-show="error">{[{error_message}]}</span><br>
					<form name="form" ng-submit="forgot(user)" novalidate>
                        <input type="email" name="email" placeholder="Correo electrónico" ng-model="user.email" required>
                        <span ng-show="form.email.$error.email">No es un correo valido</span>
                        <input type="submit" class="btn" value="RECUPERAR" ng-disabled="form.$invalid || isUnchanged(user)">
                    </form>
				</span>
			</span>
        </div>
    </div>
</body>
</html>