<!doctype html>
<html lang="en" ng-app="bibliotecaTelmex" ng-controller="LandingCtrl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Biblioteca Digital Telmex</title>
	<link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/angular.min.js"></script>
    <script src="/assets/js/angular-resource.js"></script>
    <script src="/assets/js/angular/controllers/LandingCtrl.js"></script>
    <script src="/assets/js/angular/services/Session.js"></script>
</head>
<body>
<header class="landing"></header>
	<div class="container">
		<div class="colIzq">
			<section id="login" class="acceso">
				<h2>BIENVENIDO</h2>
				<figure>
					<img src="/assets/img/TelmexLogo.png" alt="Telmex">
				</figure>
				<h1><span class="ocultar">Biblioteca Digital</span> <img src="/assets/img/logos.png" alt="Biblioteca Digital"></h1>
				<a href="/signup" class="btn">REGISTRO</a>
				<div ng-click="lightbox()" style="cursor:pointer;">INICIAR SESIÓN</div>
			</section>
		</div>
		<div class="colDer">
			<article class="itemLanding">
				<figure><img src="" alt=""></figure>
				<h3>documento</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit placeat doloribus asperiores odio magnam nemo porro fugit, sapiente adipisci nulla, unde tenetur, culpa iste cupiditate sit provident pariatur nobis, reiciendis.</p>
				<hr>
				<dl>
					<dt>Tamaño:</dt>
					<dd>2 mb</dd>
					<dt>Fecha:</dt>
					<dd> 13/07/14</dd>
					<hr>
					<dt>Formato:</dt>
					<dd><figure><img src="" alt=""></figure></dd>
				</dl>
			</article>
			<article class="itemLanding">
				<figure><img src="" alt=""></figure>
				<h3>documento</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit placeat doloribus asperiores odio magnam nemo porro fugit, sapiente adipisci nulla, unde tenetur, culpa iste cupiditate sit provident pariatur nobis, reiciendis.</p>
				<hr>
				<dl>
					<dt>Tamaño:</dt>
					<dd>2 mb</dd>
					<dt>Fecha:</dt>
					<dd> 13/07/14</dd>
					<hr>
					<dt>Formato:</dt>
					<dd><figure><img src="" alt=""></figure></dd>
				</dl>
			</article>
			<article class="itemLanding">
				<figure><img src="" alt=""></figure>
				<h3>documento</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit placeat doloribus asperiores odio magnam nemo porro fugit, sapiente adipisci nulla, unde tenetur, culpa iste cupiditate sit provident pariatur nobis, reiciendis.</p>
				<hr>
				<dl>
					<dt>Tamaño:</dt>
					<dd>2 mb</dd>
					<dt>Fecha:</dt>
					<dd> 13/07/14</dd>
					<hr>
					<dt>Formato:</dt>
					<dd><figure><img src="" alt=""></figure></dd>
				</dl>
			</article>
			<article class="itemLanding">
				<figure><img src="" alt=""></figure>
				<h3>documento</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit placeat doloribus asperiores odio magnam nemo porro fugit, sapiente adipisci nulla, unde tenetur, culpa iste cupiditate sit provident pariatur nobis, reiciendis.</p>
				<hr>
				<dl>
					<dt>Tamaño:</dt>
					<dd>2 mb</dd>
					<dt>Fecha:</dt>
					<dd> 13/07/14</dd>
					<hr>
					<dt>Formato:</dt>
					<dd><figure><img src="" alt=""></figure></dd>
				</dl>
			</article>
		</div>

	</div>
	<footer class="landing"></footer>

    <div id="lightbox" class="activo" ng-show="login">
        <div class="fondoClicable" ng-click="lightbox()"></div>
		<div id="ProductoLightbox">
			<div class="tituloLight">
				<figure></figure>
				<span>INICIAR SESION</span>
				<div class="cerrar" ng-click="lightbox()">X</div>
			</div>
			<span href="#" class="mensajeArchivos">
				<span class="msg1">
                    <span class="error" ng-show="error">{[{error_message}]}</span><br>
					<form ng-submit="acceder(user)">
                        <input type="text" placeholder="Usuario" ng-model="user.username">
                        <input type="password" placeholder="Contraseña" ng-model="user.password">
                        <input type="submit" class="btn" value="INICIAR SESIÓN">
                        <a href="/forgot">¿OLVIDASTE TU NOMBRE DE USUARIO O CONTRASEÑA?</a>
                    </form>
				</span>
			</span>
        </div>
    </div>
</body>
</html>