<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Biblioteca Digital Telmex</title>
	<link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/angular.min.js"></script>
    <script src="/assets/js/angular-resource.js"></script>
    <script src="/assets/js/angular/controllers/SessionsCtrl.js"></script>
    <script src="/assets/js/angular/services/Session.js"></script>

</head>
<body class="principal" id="ng-app" ng-app="bibliotecaTelmex" ng-controller="SessionsCtrl">
    <section id="login">
	    <h2>BIENVENIDO</h2>
	    <figure>
		    <img src="/assets/img/TelmexLogo.png" alt="Telmex">
	    </figure>
        <h1><span class="ocultar">Biblioteca Digital</span> <img src="/assets/img/logos.png" alt="Biblioteca Digital"></h1>
        <form ng-submit="acceder(user)">
            <input type="text" placeholder="Usuario" ng-model="user.username">
            <input type="password" placeholder="Contraseña" ng-model="user.password">
            <input type="submit" class="btn" value="INICIAR SESIÓN">
        </form>
        <a href="/forgot">¿OLVIDASTE TU NOMBRE DE USUARIO O CONTRASEÑA?</a>
    </section>
</body>
</html>