<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Biblioteca Digital Telmex</title>
	<link rel="stylesheet" href="/assets/css/style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <!--[if IE]>
        <script src="/assets/js/modernizr.js"></script>
        </script>
        <script src="/assets/js/jquery.backgroundSize.js"></script>
        </script>
        <script src="/assets/js/placeholders.js"></script>
        </script>
        <script src="/assets/js/prefixfree.min.js"></script>
        </script>
        <![endif]-->
        <script src="/assets/js/angular.min.js"></script>
        <script src="/assets/js/angular-resource.js"></script>
        <script src="/assets/js/angular/app.js"></script>
        <script src="/assets/js/angular/controllers/LandingCtrl.js"></script>
        <script src="/assets/js/angular/controllers/UserCtrl.js"></script>
        <script src="/assets/js/angular/controllers/SessionsCtrl.js"></script>
        <script src="/assets/js/angular/services/Session.js"></script>
        <script src="/assets/js/angular/services/User.js"></script>

    </head>
    <body  id="ng-app" ng-app="bibliotecaTelmex" ng-controller="LandingCtrl" class="landing">
    	<header class="landing"></header>
    	<div class="container">
    		<section id="login" class="acceso">
    			<h2>BIENVENIDO</h2>
    			<figure>
    				<img src="/assets/img/TelmexLogo.png" alt="Telmex">
    			</figure>
    			<h1><span class="ocultar">Biblioteca Digital</span> <img src="/assets/img/logos.png" alt="Biblioteca Digital"></h1>
    			
                <div id="lightbox" class="activo" ng-show="login" ng-controller="SessionsCtrl">
                <div class="fondoClicable" ng-click="lightbox('login')"></div>
                <div id="ProductoLightbox">
                    <div class="tituloLight">
                        <span>INICIAR SESION</span>
                        <div class="cerrar" ng-click="lightbox('login')">X</div>
                    </div>
                    <span href="#" class="mensajeArchivos">
                        <span class="msg1">
                            <span class="error" ng-show="error">{[{error_message}]}</span><br>
                            <form ng-submit="acceder(user)">
                                <input type="password" name="password" placeholder="Contraseña" ng-model="user.password" required>
                                <input type="password" name="confirm_password" placeholder="Repetir contraseña" ng-model="user.password_verify" required data-password-verify="user.password">
                                <div ng-show="form.confirm_password.$error.passwordVerify">
                                    Las contraseñas no son iguales</div>
                                    <input type="submit" class="btn" value="REGISTRARME" ng-disabled="form.$invalid || isUnchanged(user)">
                                    <div ng-show="error"><span class="error">{[{error_message}]}</span></div>

                                <input type="submit" class="btn" value="INICIAR SESIÓN">
                            </form>
                        </span>
                    </span>
                </div>
            </div>

    		</section>
    	</div>
    	<footer>
    		<figure class="telmexEsta">
    		<img src="assets/img/telmexesta.png" alt="Telmex está contigo">
    		</figure>
    		<figure class="telmexIt">
    		<a href="interfaz.html"><img src="assets/img/telmexit.png" alt="Telmex IT"></a>
    		</figure>
    	</footer>

    	
</body>
</html>