<!doctype html>
<html lang="en" ng-app="bibliotecaTelmex" ng-controller="UserCtrl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Biblioteca Digital Telmex</title>
	<link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/angular.min.js"></script>
    <script src="/assets/js/angular-resource.js"></script>
    <script src="/assets/js/angular/app.js"></script>
    <script src="/assets/js/angular/controllers/UserCtrl.js"></script>
    <script src="/assets/js/angular/services/User.js"></script>


</head>
<body class="principal">
    <section id="login" class="acceso">
        <h2>BIENVENIDO</h2>
        <figure>
            <img src="/assets/img/TelmexLogo.png" alt="Telmex">
        </figure>
        <h1><span class="ocultar">Biblioteca Digital</span> <img src="/assets/img/logos.png" alt="Biblioteca Digital"></h1>
        <form name="form" ng-submit="nuevo(user)" novalidate>
            <input type="text" placeholder="Nombre y apellidos" ng-model="user.name" required>
            <input type="text" placeholder="Nombre de usuario" ng-model="user.username" required>
            <input type="email" placeholder="Correo electrónico" ng-model="user.email" required>
            <input type="password" name="password" placeholder="Contraseña" ng-model="user.password" required>
            <input type="password" name="confirm_password" placeholder="Repetir contraseña" ng-model="user.password_verify" required data-password-verify="user.password">
            <div ng-show="form.confirm_password.$error.passwordVerify">
                Fields are not equal!</div>
            <input type="submit" class="btn" value="REGISTRARME" ng-disabled="form.$invalid || isUnchanged(user)">
            <div ng-show="error"><span class="error">{[{error_message}]}</span></div>

        </form>
    </section>
</body>
</html>